[access "refs/heads/*"]
	abandon = group Website
	forgeAuthor = group Website
	push = group Website
	pushMerge = group Website
	label-Code-Review = -2..+2 group Website
	labelAs-Code-Review = -2..+2 group Website
	removeReviewer = group Website
	submit = group Website
	submitAs = group Website
	viewDrafts = group Website
	editTopicName = group Website
	deleteDrafts = group Website
